
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.nav {
  padding: 15px;
}

.main-content {
  padding: 15px;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }

  .col-2,
  .col-10 {
    width: 100%;
  }

  .nav {
    text-align: center;
  }
}

/* Responsive styles for screens smaller than 576px (mobile devices) */
@media (max-width: 576px) {
  header h1 {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 0.8rem;
  }

  .nav ul {
    padding: 0;
  }

  .nav ul li {
    display: inline-block;
    margin: 0 5px;
  }

  .main-content {
    padding: 10px;
    font-size: 0.9rem;
  }
}


